:root {
    ---9aa0a6-500: #9AA0A6;
    ---ff5f2e-primary-orange: #FF5F2E;
    ---ff7b52-secondary-orange: #FF7B52;
    ---ffbca9-tertiary-orange: #FFBCA9;
    ---f1f3f4-100: #F1F3F4;
    ---e8eaed-200: #E8EAED;
    ---17181b-928-day-0-5-night-1-: #17181B;
    ---dadce0-300: #DADCE0;
    ---bdc1c6-400: #BDC1C6;
    ---80868b-600: #80868B;
    ---2e3134-846-day-3-night-4-: #2E3134;
    ---5f6368-700: #5F6368;

}


@font-face {
    font-family: 'TWKLausanne-550';
    src: local('TWKLausanne-550'), url(./assets/font/TWKLausanne-550.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKLausanne-400';
    src: local('TWKLausanne-400'), url(./assets/font/TWKLausanne-400.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKLausanne-300';
    src: local('TWKLausanne-300'), url(./assets/font/TWKLausanne-300.ttf) format('truetype');
}

h1 {
    font-size: xxx-large !important;
    font-weight: bolder !important;
}

.md-header[data-md-state=shadow] {
    transition: background-color .25s, color .25s, box-shadow .25s;
    box-shadow: none;
}

nav.md-tabs {
    display: none;
    height: 0;
}

@media only screen and (min-width: 60em) {

    .md-search__form,
    .md-search__input {
        border-radius: .9rem;
    }
}

h1:after {
    content: ' ';
    margin-top: 2px;
    display: block;
    border: 1px solid #d0d0d0;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

h2 {
    font-size: xxx-large !important;
    font-weight: bold !important;
    margin-top: 68px !important;
}


.md-typeset .admonition.attention > .admonition-title:before,
.md-typeset .admonition.attention > summary:before,
.md-typeset .admonition.error > .admonition-title:before,
.md-typeset .admonition.error > summary:before,
.md-typeset details.danger > .admonition-title:before,
.md-typeset details.danger > summary:before,
.md-typeset details.error > .admonition-title:before,
.md-typeset details.error > summary:before {
    color: #ff1744;
    content: "feedback" !important;
    position: absolute !important;
    top: 12px !important;
}

.md-typeset .admonition.attention,
.md-typeset .admonition.caution,
.md-typeset .admonition.attention,
.md-typeset details.attention,
.md-typeset details.caution,
.md-typeset details.attention {
    border-left-color: #ff1744 !important
}

.md-typeset .admonition.attention > .admonition-title,
.md-typeset .admonition.attention > summary,
.md-typeset .admonition.caution > .admonition-title,
.md-typeset .admonition.caution > summary,
.md-typeset .admonition.attention > .admonition-title,
.md-typeset .admonition.attention > summary,
.md-typeset details.attention > .admonition-title,
.md-typeset details.attention > summary,
.md-typeset details.caution > .admonition-title,
.md-typeset details.caution > summary,
.md-typeset details.attention > .admonition-title,
.md-typeset details.attention > summary {
    border-bottom-color: rgba(255, 45, 0, .1) !important;
    background-color: rgba(255, 45, 0, .1) !important;
}

h3 {
    font-size: xx-large !important;
    font-weight: bold !important;
    margin-top: 50px !important;
}

h4 {
    font-size: x-large !important;
    font-weight: normal !important;
    margin-top: 20px !important;
}

h1 {
    color: black !important;
}

/* Footer colors */
.md-footer-nav {
    background-color: white;
    color: rgba(95, 99, 104, 1);
    max-width: 1577px;
    margin-left: auto;
    margin-right: auto;
}

.md-footer-meta {
    background: rgba(241, 243, 244, 1) 0% 0% no-repeat padding-box;
    border-radius: 70px;
    opacity: 1;
    max-height: 73px;
    margin: 53px auto 140px;
    max-width: 1577px;
}

@media screen and (max-width: 1792px){
    .md-footer-meta, md-footer-nav{
        margin-left: 48px;
        margin-right: 48px;
    }
}

.md-footer-copyright {
    color: rgba(95, 99, 104, 1);
}

.md-footer-copyright__highlight {
    color: rgba(95, 99, 104, 1);
}

html .md-footer-meta.md-typeset a {
    color: rgba(95, 99, 104, 1);
}

html .md-footer-meta.md-typeset a {
    color: rgba(95, 99, 104, 1);
}